body {
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
}

#content {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  margin: 10% auto;
  max-width: 400px;
}

@media (min-width: 900px) {
  #content {
    flex-direction: row;
    margin: 10% 20%;
    max-width: 1300px;
  }
}

#sedansCard {
  background-color: hsl(31, 77%, 52%);
}
#sedansCard a {
  color: hsl(31, 77%, 52%);
}

#suvCard {
  background-color: hsl(184, 100%, 22%);
}

#suvCard a {
  color: hsl(184, 100%, 22%);
}

#luxuryCard {
  background-color: hsl(179, 100%, 13%);
}

#luxuryCard a {
  color: hsl(179, 100%, 13%);
}

.card {
  padding: 10%;
}

@media (min-width: 900px) {
  .card {
    padding: 5%;
  }
}

.card h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
}

.card p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  margin-bottom: 3rem;
}

@media (min-width: 900px) {
  .card p {
    font-size: 0.8rem;
  }
}

.card a {
  background-color: hsl(0, 0%, 95%);
  color: inherit;
  border-radius: 20px;
  text-decoration: none;
  outline: none;
  border: none;
  padding: 5%;
  font-family: "Lexend Deca", sans-serif;
  width: 10rem;
  border: 2px solid hsl(0, 0%, 95%);
  box-sizing: border-box;
  cursor: pointer;
}

@media (min-width: 900px) {
  .card a {
    width: 7rem;
  }
}

.card a:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%) !important;
}
